.howitworks {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 70px 20px 30px 20px;
  text-align: center;
}

.howitworks h2 {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-large);
  color: var(--primary-color); 
}

.howitworks .howitworks-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-medium);
  margin: 50px 0;
}

.howitworks .step {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: var(--spacing-medium);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for hover effect */
}

.howitworks .step:hover {
  transform: translateY(-5px); /* Lift up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.howitworks .step:nth-child(odd) {
  padding-right: calc(var(--spacing-medium) + 30px);
}

.howitworks .step h3 {
  color: var(--secondary-color);
  margin-bottom: var(--spacing-small);
}

.howitworks .step p {
  line-height: 1.6;
}